<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-row no-gutters justify="center">
            <v-col my="0" lg="9" md="11" sm="10" align-self="center">
              <v-row>
                <v-col>
                  <v-select :items="presetWorlds" v-model="newWorld" item-text="name" return-object label="Data List">
                  </v-select>
                </v-col>
                <v-col align-self="center" class="col-auto">
                  <v-btn :disabled="!newWorld" color="primary" @click="addPanel()">add</v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col lg="9" md="11" sm="10" v-for="(world, i) in worlds" :key="`world-${world.name}`">
              <world-panel :world="world" width="500px" height="300px" @created="canvas => createWorld(canvas, world)"
                @pause-or-resume="pauseOrResumeWorld(world)" @step="stepWorld(world)" @reset="resetWorld(world)"
                @close="deleteWorld(i, world)">
              </world-panel>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="windowPanel.js"></script>
  <script src="worldPanel.js"></script>
  <script>
    Vue.config.productionTip = false
    const vue = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        worlds: [],
        presetWorlds: [],
        newWorld: null,
        windowObj: {}
      }),
      async beforeMount() {
        const res = await axios.get('/data/list.json');
        this.presetWorlds = res.data.list;
        window.addEventListener('beforeunload', event => {
          console.log('reload');
          for (const key in this.windowObj) {
            if (this.windowObj.hasOwnProperty(key)) {
              const window = this.windowObj[key];
              window.finalize();
            }
          }
        }, false);
      },
      methods: {
        addPanel() {
          this.worlds.unshift(this.newWorld);
          this.presetWorlds.splice(this.presetWorlds.indexOf(this.newWorld), 1);
          this.newWorld = null;
        },
        createWorld(canvas, world) {
          console.log('created', world.name, canvas);
          this.windowObj[world.name] = new WindowPanel(canvas, world, 600, 500);
          this.windowObj[world.name].initialize();
        },
        pauseOrResumeWorld(world) {
          console.log('pause');
          this.windowObj[world.name].pauseOrResume();
        },
        stepWorld(world) {
          console.log('step', world.name);
          this.windowObj[world.name].step();
        },
        resetWorld(world) {
          console.log('reset', world.name);
          this.windowObj[world.name].reset();
        },
        deleteWorld(index, world) {
          console.log('close', world.name);
          this.presetWorlds.push(world);
          this.worlds.splice(index, 1);
          this.windowObj[world.name].finalize();
          delete this.windowObj[world.name];
        }
      }
    })
  </script>
</body>

</html>